<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <connectionStrings>
    <add name="Sql CDBS-PROFIT" connectionString="Data Source=TSS_CLARKSQL\SQL2014;Initial Catalog=CLARKDVCopy;User ID=tssuser;Password=tssuser"
      providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>